<div class="row">
    <div class="col-md-4">
        <img class="img-responsive center-block" src="{{user.avatar}}" style="width: 250px;margin-bottom: 25px;">
    </div>
    <div class="col-auto">
        <h1>{{user.name}}</h1>
        <p>{{user.email}}</p>
        <button type="button" class="btn btn-primary">
            <a class="text-white" href="/users/{{user.id}}/edit">
                Edit
            </a>
        </button>

    </div>
</div>